# This workflow will package a .NET project

name: .NET Package

on:
  release:
    types: [published]

jobs:
  package:

    runs-on: windows-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore -p:SetPrivateAssets=all
    - name: Build
      run: dotnet pack hamarb123.ByRefHandles/hamarb123.ByRefHandles.csproj --no-restore -c Release -p:SetPrivateAssets=all
    - name: capture build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Artifacts
        path: hamarb123.ByRefHandles/bin/Release/*.nupkg
    - name: upload
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: hamarb123.ByRefHandles/bin/Release/*.nupkg
        draft: true
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
