# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-15-intel, windows-latest]
        framework: ['6.0', '8.0', '9.0', '10.0']
        config: [Debug, Release]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET X.0 SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.framework }}.x
    - name: Setup .NET 10.0 SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore -c ${{ matrix.config }} -f net${{ matrix.framework }}
    - name: Build
      run: dotnet build --no-restore -c ${{ matrix.config }} -f net${{ matrix.framework }}
    - name: Test
      run: dotnet test --no-build --verbosity normal -c ${{ matrix.config }} -f net${{ matrix.framework }}
